body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5e3f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para el título de la familia */
.familia h1 {
    margin-top: 80px; 
    color: rgb(158, 105, 179);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    text-align: center; 
}

/* Estilo para el párrafo */
p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
    max-width: 800px;
    margin: 20px auto;
    color: #444; 
}


.familia ul {
    list-style-type: none; 
    padding: 0;
    margin: 20px 0; 
}

.familia li {
    margin: 15px 0;
    background-color: #fff; 
    border-radius: 8px; 
    padding: 10px 15px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}


/* Estilo de navegación */
.familia nav {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: rgb(158, 105, 179); 
    text-decoration: underline; 
}
