/* Estilos generales */
body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


main {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
}


h2 {
  margin-top: 20px; 
  color: rgb(158, 105, 179);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 80px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}


#section1, #section2, #section3 { 
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}


h3 {
  text-align: center;
  color: #333;
  margin-top: 15px; 
  font-size: 36px; 
  font-family: 'Barlow Semi Condensed', sans-serif;
}

p {
  font-size: 18px; 
  line-height: 1.6;
  margin: 10px 0;
}


iframe {
  width: 100%;
  height: 315px;
  border: none;
  margin: 20px 0; 
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding-left: 20px;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
