/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Sección principal */
main {
    flex: 1;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

/* Secciones específicas */
.interes-lectura,
.interes-idiomas,
.interes-historia,
.interes-gastronomia,
.interes-aventura,
.interes-musica {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
    position: relative; 
}

/* Encabezados */
h2 {
    text-align: center;
    color: rgb(158, 105, 179);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 65px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

h3 {
    text-align: center;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

p {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}

/* Imágenes */
section img {
    width: 50px; 
    height: 50px;
    margin-right: 20px; 
    transition: transform 0.3s ease-in-out;
}

section img:hover {
    transform: scale(1.1);
}
